html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
}

body {
  background-color: transparent; /* 半透明背景 */
  /* backdrop-filter: blur(10px); 磨砂效果 */
  /* -webkit-backdrop-filter: blur(10px); 兼容Safari */
}

#root {
  height: 100%;
}
